<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
    <controls name="block1">
        <switch id="0" default="on">Robot status</switch>
        <slider id="1" default="4.5" min="0" max="10" step="0.5">Robot overload</slider>
        <dropdown id="2" default="3" label="Tasks">
            <option value="2">Task 2</option>
            <option value="3">Task 3</option>
	    <option value="6">Task 4</option>
	    <option value="5">Task 5</option>
        </dropdown>
        <sensor id="3" units="ºC" thresholdlow="5" thresholdhigh="10">Robot heat</sensor>
    </controls>
    <controls name="block2">
    </controls>
</root>